apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: food-delivery
  labels:
    app: order-service
    service: backend
spec:
  type: ClusterIP
  ports:
  - port: 8003
    targetPort: 8003
    protocol: TCP
    name: http
  selector:
    app: order-service
