apiVersion: v1
kind: Service
metadata:
  name: catalog-service
  namespace: food-delivery
  labels:
    app: catalog-service
    service: backend
spec:
  type: ClusterIP
  ports:
  - port: 8002
    targetPort: 8002
    protocol: TCP
    name: http
  selector:
    app: catalog-service
